.DS_Store
responsive-grmobiledev/.sass-cache
responsive-grmobiledev/sass
responsive-grmobiledev/sass-extensions
responsive-grmobiledev/test
responsive-grmobiledev/LICENSE
responsive-grmobiledev/package.json
responsive-grmobiledev/package.json
responsive-grmobiledev/README.md
responsive-grmobiledev/Gemfile
responsive-grmobiledev/config.rb

ignored